{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="panel">
  <h2>Please login.</h2>
  {% if form.errors %}
  <p class="text-danger">Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p>or <a class="normal-link" href="{% url 'password_reset'%}">Forgot Password</a></p>
  <p>Don't have an account? <a class="normal-link text-center" href="{% url 'myhome:register' %}">Sign up</a></p>
  <p>Have a try without signing up:</p>
  <ul>
    <li>Username: testuser</li>
    <li>Password: superdataminer</li>
  </ul>
</div>
{% endblock content %}
