{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="jumbotron jumbotron-narrow">
  {% if validlink %}
    <h4>Please enter (and confirm) your new password.</h4>
    {% if form.errors %}
      <p>{{ form.new_password1.errors }}</p>
      <p>{{ form.new_password2.errors }}</p>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Change password</button>
      {% endbuttons %}
    </form>
  {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.</p>
  {% endif %}
</div>
{% endblock %}
