{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="jumbotron jumbotron-narrow">
  <form class="" action="" method="post">
    {% csrf_token %}
    <h4>Please input your email address.</h4>
    <p>If you forget your email address, contact the administrator with the
      <a class="normal-link" href="{% url 'myhome:contact' %}">contact form</a>.</p>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Reset Password</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
