<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Search</h1>
    <div style="border: 1px solid blue;">
        Area 1 (for example a sidebar)
        <gcse:searchbox></gcse:searchbox>
    </div>

    <div style="border: 1px solid red;">
        Area 2 (for example main area of the page)
        <gcse:searchresults></gcse:searchresults>
    </div>

    <script>
      (function() {
        var cx = '013027384718195722642:sz20jl-dhw8';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>

  </body>
</html>
