{% extends "base.html" %}

{% block title %}
  Python
{% endblock title %}

{% block sidebar %}
  <nav id="sidebar" > <!-- Sidebar  -->
    <ul class="list-unstyled components">
      <li><p class="text-dark" style="font-size:1.2em;margin-top:20px;margin-bottom:0;"><b>&emsp;Python</b></p></li>
      <li><a class="toactivate text-success" href="{% url 'mypython:module_list' %}">&emsp;Python Artistry</a></li>
      <li><a class="toactivate" href="{% url 'mypython:conda' %}">&emsp;Conda</a></li>
      <li><a class="toactivate" href="#">&emsp;Git</a></li>
      <li>
        <a class="toactivate dropdown-toggle" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">&emsp;Database</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a class="toactivate" href="{% url 'mydjango:postgres' %}">PostgreSQL</a></li>
          <li><a class="toactivate" href="#">MySQL</a></li>
        </ul>
      </li>
      <li>
        <a class="toactivate dropdown-toggle" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">&emsp;Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a class="toactivate" href="#">Page 1</a></li>
          <li><a class="toactivate" href="#">Page 2</a></li>
          <li><a class="toactivate" href="#">Page 3</a></li>
        </ul>
      </li>
      <li><a class="toactivate" href="{% url 'mypython:ddns' %}">&emsp;DynDNS</a></li>
    </ul>
  </nav> <!-- End of sidebar -->
{% endblock sidebar %}
