<!-- The default name is module name in lower case + "_list.html". -->
<!-- In this case, the default name is module_list.html -->
{% extends "mypython/base.html" %}

{% block title %}
  Python Artistry
{% endblock title %}

{% block content %}
<div class="panel">
  {% if perms.mypython.can_publish_module and not object.published_date %}
    <p><a class="normal-link" href="{% url 'mypython:module_publish' pk=object.pk %}"><strong><i class="fa fa-upload" aria-hidden="true"></i> Publish</strong></a></p>
  {% endif %}

  <h4>{{ object.title }}</h4>
  {% if  object.script %}
    <h6>Script: <a class="normal-link" href="{{ object.script.url }}."><i class="fa fa-download" aria-hidden="true"></i></a></h6>
  {% endif %}

  <h6>{{ object.get_type_display }}</h6>

  {% if  object.usage %}
    <p>{{ object.usage }}</p>
  {% endif %}

  <div class="module-detail">
    {% if  object.reference %}
      <p><a href="{{ object.reference }}">Reference</a></p>
    {% endif %}

    {% if  object.description %}
      <h6>Description:</h6>
      <div>
        {{ object.description|safe }}
      </div>
    {% endif %}

    {% if  object.code %}
      <h6>Example:</h6>
      <pre class="w3-code notranslate">
{{ object.code }}   </pre>
    {% endif %}
  </div>

  <p>Added by <strong>{{ object.added_by }}</strong> on {{ object.created_date|date:"M d, Y" }}.</p>
  {% if object.published_date %}
    <p>Back to <a class="normal-link" href="{% url 'mypython:module_list' %}"><strong>List</strong></a></p>
  {% else %}
    <p>Back to <a class="normal-link" href="{% url 'mypython:module_draft_list' %}"><strong>Drafts</strong></a></p>
  {% endif %}
</div>
{% endblock content %}
