<!-- The default name is machine name in lower case + "_list.html". -->
<!-- In this case, the default name is machine_list.html -->
{% extends "machine/base.html" %}

{% block title %}
  Machine Learning
{% endblock title %}

{% block content %}
<div class="panel">
  {% if perms.machine.can_publish_delete and not object.published_date %}
    <p><a class="normal-link" href="{% url 'machine:publish' pk=object.pk %}"><strong><i class="fa fa-upload" aria-hidden="true"></i> Publish</strong></a></p>
  {% endif %}
  <h4>{{ object.title }}</h4>
  {% if  object.script %}
    <h6>Script: <a class="normal-link" href="{{ object.script.url }}."><i class="fa fa-download" aria-hidden="true"></i></a></h6>
  {% endif %}
  <h6>{{ object.get_type_display }}</h6>
  <p>{{ object.usage }}</p>
  <div class="panel module-detail">
    <p><a href="{{ object.reference }}">Reference</a></p>
    <h6>Description:</h6>
    <p>
      {{ object.description|safe }}
    </p>
    <h6>Parameters:</h6>
    <pre>
{{ object.parameters }}
    </pre>
    <h6>Examples:</h6>
    <pre class="w3-code pythonHigh notranslate">
{{ object.code }}  </pre>
  </div>
  <p>Added by <strong>{{ object.added_by }}</strong> on {{ object.created_date|date:"M d, Y"  }}.</p>
  {% if object.published_date %}
    <p>Back to <a class="normal-link" href="{% url 'machine:machine_list' %}"><strong>List</strong></a></p>
  {% else %}
    <p>Back to <a class="normal-link" href="{% url 'machine:machine_draft_list' %}"><strong>Drafts</strong></a></p>
  {% endif %}
</div>
{% endblock content %}
