{% extends "base.html" %}

{% block title %}
  Django
{% endblock title %}

{% block sidebar %}
  <nav id="sidebar" > <!-- Sidebar  -->
    <ul class="list-unstyled components">
      <li><p class="text-dark" style="font-size:1.2em;margin-top:20px;margin-bottom:0;"><b>&emsp;Django</b></p></li>
      <li><a class="toactivate" href="#">&emsp;Installation</a></li>
      <li><a class="toactivate" href="{% url 'mydjango:model' %}">&emsp;Models</a></li>
      <li>
        <a class="toactivate dropdown-toggle" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">&emsp;Database</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a class="toactivate" href="{% url 'mydjango:postgres' %}">PostgreSQL</a></li>
          <li><a class="toactivate" href="{% url 'mydjango:mysql' %}">MySQL</a></li>
        </ul>
      </li>
      <li>
        <a class="toactivate dropdown-toggle" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">&emsp;How to search</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a class="toactivate" href="{% url 'mydjango:use_js' %}">Use javascript</a></li>
          <li><a class="toactivate" href="{% url 'mydjango:use_Q' %}">Use Q</a></li>
          <li><a class="toactivate" href="{% url 'mydjango:use_haystack' %}">Use haystack</a></li>
          <li><a class="toactivate" href="{% url 'mydjango:use_GSE' %}">Use GSE</a></li>          
        </ul>
      </li>
      <li><a class="toactivate" href="{% url 'mydjango:user' %}">&emsp;Authentication</a></li>
      <li><a class="toactivate" href="{% url 'mydjango:background' %}">&emsp;Background Task</a></li>
      <li><a class="toactivate" href="{% url 'mydjango:channels' %}">&emsp;Channels</a></li>
      <li><a class="toactivate" href="{% url 'mydjango:email_server' %}">&emsp;Email Server</a></li>
      <li><a class="toactivate" href="{% url 'mydjango:slug' %}">&emsp;Slug</a></li>
    </ul>
  </nav> <!-- End of sidebar -->
{% endblock sidebar %}
