{% extends "mydjango/base.html" %}

{% block title %}
  Database
{% endblock title %}

{% block content %}
  <div class="panel">
    <h2>Use MySQL with your Django Application on Ubuntu.</h2>
    <h6>References:</h6>
    <p><a href="https://www.digitalocean.com/community/tutorials/how-to-install-the-latest-mysql-on-ubuntu-16-04#step-2-%E2%80%94-installing-mysql">
      How To Install the Latest MySQL on Ubuntu 16.04</a></p>
    <p><a href="https://support.rackspace.com/how-to/installing-mysql-server-on-ubuntu/">
      Install MySQL Server on Ubuntu</a></p>
    <p><a href="https://www.digitalocean.com/community/tutorials/how-to-create-a-django-app-and-connect-it-to-a-database">
      How To Create a Django App and Connect it to a Database</a></p>

    <div class="panel">
      <h6>1. Install MySQL on Ubuntu.</h6>
      <div class="w3-code pythonHigh notranslate">
        $ sudo apt-get install mysql-server <br>
        $ sudo systemctl start mysql        # Start the MySQL service. <br>
        $ sudo systemctl enable mysql       # Enable MySQL to launch at reboot. <br>
        $ systemctl status mysql.service    # Check the status of MySQL. <br>
        $ sudo mysqladmin -u root version   # Testing MySQL. <br>
        $ sudo ufw allow mysql              # Optional. Allow remote access. <br>
      </div>
      <p><strong>Trouble-shooting:</strong> If somehow the installation failed, run the fllowing
         to first un-install the old MySQL, remove everything related to MySQL,
         and then install a fresh MySQL:</p>
      <div class="w3-code pythonHigh notranslate">
        $ sudo apt-get purge mysql-* <br>
        $ sudo apt-get autoremove <br>
        $ sudo apt-get autoclean <br>
        $ sudo apt-get dist-upgrade <br>

        $ sudo rm -rf /etc/mysql <br>
        $ sudo rm -rf /var/lib/mysql* <br>
      </div>
      <p>And finally, most importantly, to <strong style="color:red;">Reboot</strong>. Otherwise the fresh MySQL
         can not be re-installed!</p>
      <h6>References:</h6>
      <p>
        <a href="https://askubuntu.com/questions/773287/how-to-repair-corrupt-package-installation-mysql/773441">
         Trouble-shooting 1</a> <br>
         <a href="https://www.digitalocean.com/community/questions/mysql-installation-error-dpkg-error-processing-package-mysql-server-5-5-configure">
         Trouble-shooting 2</a>
      </p>
    </div>

    <div class="panel">
      <h6>2. Change the password of root.</h6>
      <p>In the new version of MySQL, it is not required to input the password
        for the root when it is being installed. Therefore, we can start MySQL
        as root without inputing the password by <code>sudo mysql</code>.
        We can specify the password for root in this way:
      </p>
      <div class="w3-code pythonHigh notranslate">
        $ sudo mysql -u root; <br>
        $ use mysql; <br>
        $ update user set authentication_string=PASSWORD("New_Passwore_Here") where User='root'; <br>
        $ flush privileges; <br>
      </div>
    </div>

    <div class="panel">
      <h6>Use utf8mb4 to fully support Unicode.</h6>
      <ol>
        <li><a href="https://medium.com/@haotangio/how-to-properly-setup-mysql-5-7-for-production-on-ubuntu-16-04-dd4088286016">
         How to properly setup MySQL 5.7 for production on Ubuntu 16.04</a></li>
        <li><a href="http://www.mysqltutorial.org/mysql-collation/">MySQL Collation</a></li>
      </ol>

     <p>First, update /etc/mysql/my.cnf to use utf8mb4 — MySQL’s REAL UTF-8.</p>
     <pre class="w3-code pythonHigh notranslate">
 [client]
 default-character-set = utf8mb4
 [mysql]
 default-character-set = utf8mb4
 [mysqld]
 character-set-client-handshake = FALSE
 character-set-server = utf8mb4
 collation-server = utf8mb4_unicode_ci</pre>
      <div class="w3-code pythonHigh notranslate">
       $ SHOW CHARACTER SET; # Show all the character sets and default collation on the server. <br>
       $ SHOW COLLATION LIKE 'utf8mb4%'; # Show all the collations for a specific character set.<br>
       $ CREATE DATABASE demodb CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci; # Specify the character set and collation of a database when it is created. <br>
       $ ALTER DATABASE demodb CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci; # Change the character set and collation of a database after it is created. <br>
       $ SHOW CREATE DATABASE demodb; # Show the character set and collation of a database. <br>
      </div>
      <p> It is recommened to set the character set and collation for a specific database,
          because different MySQL servers may have different settings for character set and collation. <br></p>
      <p>
        <strong>Note: </strong>On MySQL 8.0, the default character set is
        <strong>utf8mb4</strong>, and the default collate is <strong>utf8mb4_0900_ai_ci</strong>,
        but can also use <strong>utf8mb4_general_ci</strong>. For MySQL 5.7,
        the default character set is <strong>utf8</strong>, but it can be changed to
        <strong>utf8mb4</strong> as above. However, for MySQL 5.7, only
        <strong>utf8mb4_general_ci</strong> is available for <strong>utf8mb4</strong>.
        Therefore it is better to use <strong>utf8mb4_general_ci</strong> for
        both MySQL 5.7 and MySQL 8.0 if you need to transfer data between different servers.
      </p>
    </div>

    <div class="panel">
      <h6>3. Create a new user.</h6>
      <p>In the new version of MySQL, it is not required to input the password
        for the root when it is being installed. Therefore, we can start MySQL
        as root without inputing the password by <code>sudo mysql</code>.
        We can specify the password for root in this way:
      </p>
      <div class="w3-code pythonHigh notranslate">
        $ sudo mysql; <br>
        $ use mysql; # Open the default mysql database which store the user information. <br>
        $ update user set authentication_string=PASSWORD("New_Passwore_Here") where User='root'; <br>
        $ ALTER USER 'root'@'localhost' IDENTIFIED BY 'your_new_password'; # Another way! <br>
        $ flush privileges; <br>
      </div>
    </div>

    <div class="panel">
      <h6>4. Common MySQL commands.</h6>
      <div class="w3-code pythonHigh notranslate">
        $ CREATE DATABASE demodb CHARACTER SET UTF8;   # Create a database. <br>
        $ SHOW DATABASES;           # Show the databases. <br>
        $ # Create a database user: <br>
        $ INSERT INTO mysql.user (User,Host,authentication_string,ssl_cipher,x509_issuer,x509_subject) VALUES('demouser','localhost',PASSWORD('demopassword'),'','',''); <br>
        $ CREATE USER yourdbuser@localhost IDENTIFIED BY 'password'; # We can also use this command to create a database user. <br>
        $ FLUSH PRIVILEGES; # When you make changes to the user table in the mysql database, tell MySQL to read the changes by flushing the privileges. <br>
        $ SELECT User, Host, authentication_string FROM mysql.user; # Verify the user was created. <br>
        $ GRANT ALL PRIVILEGES ON demodb.* to demouser@localhost; # Give the user full permissions on the database. <br>
        $ FLUSH PRIVILEGES; <br>
        $ SHOW GRANTS FOR demouser@localhost; # Verify the privileges are set. <br><br>
        $ USE ndm_db; # Open a project database; <br>
        $ show tables; # Show all the tables in the project database; <br>
        $ SELECT * FROM ndm_db.auth_user; # Select all the content from a project table; <br>
      </div>
    </div>

    <div class="panel">
      <h6>5. Install MySQL Database Connector for python.</h6>
      <div class="w3-code pythonHigh notranslate">
        $ conda activate django2 <br>
        $ sudo apt-get install python3-dev <br>
        $ sudo apt-get install python3-dev libmysqlclient-dev <br>
        $ pip install mysqlclient <br>
      </div>
    </div>

    <div class="panel">
      <h6>6.1 Add the MySQL database connection to your django application (settings.py).</h6>
      <pre class="w3-code sqlHigh notranslate">
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
        'NAME': 'myproject',                  # Or path to database file if using sqlite3.
        'USER': 'myprojectuser',              # Not used with sqlite3.
        'PASSWORD': 'password',               # Not used with sqlite3.
        'HOST': 'localhost',                  # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                           # Set to empty string for default. Not used with sqlite3.
    }
}     </pre>
    </div>

    <div class="panel">
      <h6>6.2 Instead of inputing all the database information in setting.py,
          we can specify a configuraton file for MySQL.</h6>
      <pre class="w3-code sqlHigh notranslate">
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'OPTIONS': {
          'read_default_file': '/etc/mysql/my.cnf'
        }
    }
}     </pre>
      <p>Edit the config file (my.conf) so that it has your MySQL credentials.</p>
      <pre class="w3-code pythonHigh notranslate">
...
[client]
database = db_name
user = db_user
password = db_password
default-character-set = utf8</pre>
      <p>Once the file has been edited, we need to restart MySQL for the changes to take effect.</p>
      <div class="w3-code pythonHigh notranslate">
        $ sudo systemctl daemon-reload <br>
        $ sudo systemctl restart mysql <br>
      </div>
    </div>

    <div class="panel">
      <h6>7. Migrate the database and test your project.</h6>
      <div class="w3-code pythonHigh notranslate">
        $ python manage.py makemigrations <br>
        $ python manage.py migrate <br>
        $ python manage.py createsuperuser <br>
        $ sudo ufw allow 8000 # To open a specific port for django <br>
        $ python manage.py runserver <br>
      </div>
    </div>

    <div class="panel">
      <h6>8. Migrate a database from on computer to another.</h6>
      <p>On computer A, excute:</p>
      <p><strong>Note:</strong> Change the character set and collation of a
         database to make it match those on Computer B.</p>
      <div class="w3-code pythonHigh notranslate">
        $ ALTER DATABASE ndm_db CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci; <br>
        $ mysqldump -u root -p --quick ndm_db | gzip > C:\Google\Work\MyWebsite\Transfer\MySQL\Backup\ndm_db_20190619.gz <br>
      </div>
      <p>Transfere the compressed database <em>ndm_db.gz</em> to computer B.
        On Computer B, execute:</p>
      <div class="w3-code pythonHigh notranslate">
        $ sudo mysql; <br>
        $ CREATE DATABASE ndm_db CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci; # Specify the character set and collation of the new database to make it match those on Computer A. <br>
        $ gunzip < ndm_db.gz | sudo mysql ndm_db; <br>
        $ # Syntax: <br>
        $ # mysql -u user -p dbname < backup-file.sql <br>
      </div>
      <p><strong class>Warning!</strong></p>
    </div>

    <div class="panel">
      <h6>9. Exporting and importing a MySQL table.</h6>
      <p>Exaporting a table:</p>
      <div class="w3-code pythonHigh notranslate">
        $ # syntax <br>
        $ mysqldump -u user -p dbname tableName > tableName.sql <br>
        $ # pythonanywhere.com <br>
        $ mysqldump -u guanglin -h guanglin.mysql.pythonanywhere-services.com -p 'guanglin$NDM_db' myserver_dict > myserver_dict.sql <br>
        $ # Note the quotes is mandatory! <br>
      </div>
      <p>Importing a table:</p>
      <div class="w3-code pythonHigh notranslate">
        $ mysql -u user -p -D dbname < tableName.sql <br>
        $ mysql -u root -p -D ndm_db < myserver_dict.sql <br>
      </div>
      <p><strong class>Warning!</strong></p>
    </div>

    <div class="panel">
      <h6>Important notes for MySQL:</h6>
      <ol>
        <li>If you need a database, don’t use MySQL or MariaDB. Use <strong>PostgreSQL.</strong></li>
        <li>If you need to use MySQL or MariaDB, never use “utf8”.
          Always use “utf8mb4” when you want UTF-8. Convert your database
          now to avoid headaches later.</li>
      </ol>
      <p><a href="https://medium.com/@adamhooper/in-mysql-never-use-utf8-use-utf8mb4-11761243e434">
        In MySQL, never use “utf8”. Use “utf8mb4”.</a></p>
    </div>

  </div>
{% endblock content %}
