{% extends "mydjango/base.html" %}

{% block title %}
  Slug
{% endblock title %}

{% block content %}

<h2>Configuration of slug for ease of reference.</h2>

<div class="container">
  <h6>1. In views.py of the application.</h6>
  <pre class="w3-code notranslate">
class ModuleDetailView(DetailView):
    model = Module
    context_object_name = 'module'
    slug_field = 'title'      # 'title' is a field of the model.
    slug_url_kwarg = 'title'
</div>

<div class="container">
  <h6>2. In urls.py of the application.</h6>
  <pre class="w3-code notranslate">
urlpatterns = [
    path('modules/&lt;slug:title>', ModuleDetailView.as_view(), name='module_detail'),
]  </pre>
</div>

<div class="container">
  <h6>3. In template file refering to the detailed view, normally this is in the ListView template.</h6>
  <pre class="w3-code notranslate">
...
&lt;td>&lt;a href="&#123;&#123; module.title }}">&#123;&#123; module.title }}&lt;/a>&lt;/td>
...  </pre>
</div>



  <h4>References</h4>
  <div class="container referencelist">
    <ul>
      <li><a href="https://docs.djangoproject.com/en/2.2/ref/class-based-views/generic-display/">
        Generic display views</a></li>
      <li><a href="https://docs.djangoproject.com/en/dev/ref/class-based-views/mixins-single-object/#django.views.generic.detail.SingleObjectMixin.pk_url_kwarg">
        class django.views.generic.detail.SingleObjectMixin</a></li>
      <li><a href="https://docs.djangoproject.com/en/2.1/ref/urls/#django.urls.path">
        django.urls functions for use in URLconfs</a></li>
    </ul>
  </div>

{% endblock content %}
