{% extends "mydjango/base.html" %}

{% block title %}
  User Management
{% endblock title %}

{% block content %}
  <div class="panel">
    <h2 class="pagehead">Django user management and authentication system.</h2>
    <p><a href="https://blog.hlab.tech/lesson-2-a-step-by-step-guide-on-how-to-use-bootstrap-and-register-user-in-django-2-2-authentication-system-and-python-3-7/">
    Reference</a></p>

    <div class="panel">
      <h6>1. User management.</h6>
      <div class="w3-code pythonHigh notranslate">
        $ Code <br>
      </div>
    </div>


  </div>
{% endblock content %}
