<!-- The default name is dict name in lower case + "_list.html". -->
<!-- In this case, the default name is dict_list.html -->
{% extends "myserver/base.html" %}

{% block title %}
  Swedish
{% endblock title %}

{% block content %}
<div class="panel" style="padding-left:20px;">
  <h4><a href="https://www.dict.com/瑞典语-汉语/{{object.word}}">{{ object.word }}</a></h4>
  {% if user.username not in object.name_label %}
    <p><a class="normal-link" href="{% url 'myserver:add_to_dict' pk=object.pk %}"><strong><i class="fa fa-plus" aria-hidden="true"></i> Add</a></strong></a></p>
  {% else %}
    <p><strong><i class="fa fa-check" aria-hidden="true"></i> Added</strong></a></p>
  {% endif %}
  <div class="panel module-detail">
    <h6>Pronunciation: {{ object.pron }}</h6>
    <h6>Type: {{ object.morf }}</h6>
    <h6>Forms: {{ object.forms }}</h6>
    <h6>Translation: {{ object.trans }}</h6>
  </div>
  {% if 'table' in request.path %}
    <p>Back to <a class="normal-link" href="{% url 'myserver:dict_list_table' %}"><strong>Notebook</strong></a></p>
  {% elif 'card' in request.path %}
    <p>Back to <a class="normal-link" href="{% url 'myserver:dict_list_card' %}"><strong>Notebook</strong></a></p>
  {% endif %}
</div>
{% endblock content %}
