<!-- The default name is dict name in lower case + "_list.html". -->
<!-- In this case, the default name is dict_list.html -->
{% extends "myserver/base.html" %}

{% block title %}
  Swedish
{% endblock title %}

{% block content %}
<div class="panel" style="padding-left:20px;">
  {% if user.username == 'xiaoyuer' %}
    <h4><a class="normal-link" href="https://www.dict.com/瑞典语-汉语/{{object.word}}">{{ object.word }}</a></h4>
  {% else %}
    <h4><a class="normal-link" href="https://www.dict.com/swedish-english/{{object.word}}">{{ object.word }}</a></h4>
  {% endif %}

  <!-- name_label for common words, word_user for personally added words, they are mutually exclusive. -->
  {% if not user.is_authenticated %}
    <p><a class="normal-link" href="{% url 'login' %}?next={{ request.path }}"><strong><i class="fa fa-plus" aria-hidden="true"></i> Add</a></strong></a></p>
  {% elif user.username in object.name_label or user.username in object.word_user %}
    <p><strong><i class="fa fa-check" aria-hidden="true"></i> Added</strong></a></p>
  {% else %}
    <p><a class="normal-link" href="{% url 'myserver:add_to_dict' pk=object.pk %}"><strong><i class="fa fa-plus" aria-hidden="true"></i> Add</a></strong></a></p>
  {% endif %}
  <div class="panel module-detail">
    {% if object.pron %}
      <h6>Pronunciation: {{ object.pron }}</h6>
    {% endif %}

    {% if object.morf %}
      <h6>Type: {{ object.morf }}</h6>
    {% endif %}

    {% if object.forms %}
      <h6>Forms: {{ object.forms }}</h6>
    {% endif %}
    
    <h6>Translation: </h6>
    <div class="panel ml-3">
      {% autoescape off %}
        {{ object.trans_all }}
      {% endautoescape %}
    </div>
  </div>
  {% if 'table' in request.path %}
    <p>Back to <a class="normal-link" href="{% url 'myserver:dict_list_table' %}"><strong>Notebook</strong></a></p>
  {% elif 'card' in request.path %}
    <p>Back to <a class="normal-link" href="{% url 'myserver:dict_list_card' %}"><strong>Notebook</strong></a></p>
  {% endif %}
</div>
{% endblock content %}
