<!-- The default name is dict name in lower case + "_list.html". -->
<!-- In this case, the default name is dict_list.html -->
{% extends "dict/base.html" %}

{% block title %}
  Swedish
{% endblock title %}

{% block content %}
  <h4>{{ object.word }}</h4>
  {% if not object.added %}
    <p><a class="normal-link" href="{% url 'dict:publish' pk=object.pk %}"><strong><i class="fa fa-plus" aria-hidden="true"></i> Add</a>Publish</strong></a></p>
  {% endif %}
  <div class="panel module-detail">
    <h6>Pronunciation:</h6>
    <div>
      {{ object.pron }}
    </div>
    <h6>Type:</h6>
    <div>
      {{ object.morf }}
    </div>
    <div>
      {{ object.trans }}
    </div>
    <div>
      {{ object.phrase }}
    </div>
    <p>Back to <a class="normal-link" href="{% url 'dict:dict_list' %}"><strong>List</strong></a></p>
{% endblock content %}
