{% extends "deep/base.html" %}
{% load bootstrap4 %}

{% block title %}
  Deep Learning
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-narrow">
  <form action='' enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-100">Submit</button>
    {% endbuttons %}
  </form>
  <button class="btn btn-warning btn-100" onclick="goBack()">Cancel</button>
</div>
{% endblock content %}
